

  .right{
    float: right;
    width: 80%;
    height: 90%;
  }

  .left{
    float: left;
    width:20%;
    height: 90%;
    background-color: #FFFFFF; 
    overflow-y:scroll;
  }

  html, body{
    height: 100%;
  }

  .strip{
    height:10%;
    width: 100%;
    text-align: center;
    background-image: url("pic.jpg");
    padding: 0px;     
  }

  a:hover { 
    background-color: green;
    color: red;
}

.list-group-item
{  
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group-item-action{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.row::before{
   content: none;
}

.container::before{
   content: none;
}