

  .right{
    float: right;
    width: 80%;
    height: 90%;
  }

  .left{
    float: left;
    width:20%;
    height: 90%;
    background-color: #B5DE73; 
  }

  html, body{
    height: 100%;
  }

  .strip{
    height:10%;
    width: 100%;
    text-align: center;
    background-image: url("icecrmbackground.jpg");

  }

  li:hover { 
    background-color: white;
}
