

  .right{
    float: right;
    width: 75%;
    height: 90%;
  }

  .left{
    float: left;
    width:25%;
    height: 90%;
    background-color: yellow; 
  }

  html, body{
    height: 100%;
  }

  .strip{
    height:10%;
    width: 100%;
    text-align: center;
  }